

* {
	word-spacing: 0.3rem;
	line-height: 1.6rem;
	text-decoration: none;
}

textarea {
	resize: none;
}

input {
	border: 0;
}

.dimgray {
	background-color: #5d5c6b;
}

.darkSlateGray {
	background-color: #454559;
}

.peruOrange {
	background-color: #c9804f;
}
