
/** {
	word-spacing: 0.3rem;
	line-height: 1.6rem;
	text-decoration: none;
}*/

.bg-our-orange {
  background-color: #FF5C38;
}

.bg-dark-purple {
  background-color:  #45435b;
}

.bg-granite-gray {
  background-color: #5d5b6d;
}

.text-orange {
	color: #FF5C38;
}

.text-granite-gray {
	color: #5d5b6d;
}

.bg-navbar{
  color: #9B9B9B;
  background: rgba(0,0,0,0.1);
}
textarea {
	resize: none;
}

input {
	border: 0;
}
