{{>navbar}}
<div class="cf">
  <div class="dib fl mv4 w-30 pb7 mh4">
    <form class="bn lf w-100" action="/search" method="get">
        <input type="text" name="search" placeholder="my search" class="br2 ba b--black bg-near-gray pa2 ml3">
        <input type="submit" name="Submit" class="pa2 ph3 mr4 br2 ba bg-white">

      <fieldset class="bn w-100" id="sector-fieldset">

        <select class="bg-white  bn pv1 f3 text-granite-gray" name="Sector"  id="sector-select" required>
          <option value="Health">Health</option>
          <option value="IT">IT</option>
          <option value="Security">Security</option>
          <option value="Hardware">Hardware</option>
          <option value="Software">Software</option>
          <option value="Life Science">Life Science</option>
          <option value="E-Commerce">E-Commerce</option>
          <option value="Education">Education</option>
          <option value="Cities">Cities</option>
          <option value="Other">Other</option>
        </select>
      </fieldset>

      <label for="funding-stage" class="db f3 ma3 text-granite-gray" id="funding-label">Funding Stage </label>

      <fieldset class="bn w-100 tracked" id="funding-fieldset">
        <label for="" class="db gray">
        <input type="checkbox" id="funding-stage" name="stage" value="idea-phase" class="dib w-10 h1"> Idea Phase
        </label>
        <label for="" class="db gray">
          <input type="checkbox" id="funding-stage" name="stage" value="prototype" class="dib w-10 h1"> Prototype
        </label>
        <label for="" class="db gray">
          <input type="checkbox" id="funding-stage" name="stage" value="seed-funded" class="dib w-10 h1"> Seed Funded
        </label>
        <label for="" class="db gray">
          <input type="checkbox" id="funding-stage" name="stage" value="round-a" class="dib w-10 h1"> Round A
        </label>
        <label for="" class="db gray">
          <input type="checkbox" id="funding-stage" name="stage" value="bootstrap" class="dib w-10 h1"> Bootstrap
        </label>
      </fieldset>

    </form>
  </div>

  <div class="mv5 ml3">
    <h1 class="f1 fw3 text-granite-gray">Startups</h1>
    {{#each startups}}
    <div class="dib mh1 tc">
      <a href="/startupProfile/{{_id}}" ><img src="/assets/fac.png" alt="" class="h4 w4 ba br2 pa5"></a>
      <h3 class="text-granite-gray">{{this.startupName}}</h3>
    </div>
    {{/each}}
  </div>
</div>
<script type="text/javascript" src="/app.js"></script>
