<div class="cf">
  <div class="dib fl mv4 w-30 pb7">
    <form class="" action="/search" method="get">

      <label for="StartupSectorInput" class="db f3 ma3 text-granite-gray" id="sector-label"> Sector </label>
      <fieldset class="bn w-100" id="sector-fieldset">
        <label for="" class="db gray">
          <input type="checkbox" class="w-10 h1 dib shadow-hover" value="health" name="sector"> <label for="">Digital Health and Medical Technologies</label>
        </label>
        <label for="" class="db gray">
          <input type="checkbox" value="IT" class="dib h1 w-10 shadow-hover" name="sector" id="it"> IT
        </label>
        <label for="" class="db gray">
          <input type="checkbox" value="Security" class="dib h1 w-10 shadow-hover" name="sector"> Security and Safety
        </label>
        <label for="" class="db gray">
          <input type="checkbox" value="Hardware" name="sector" class="dib h1 w-10 shadow-hover"> Hardware
        </label>
        <label for="" class="db gray">
          <input type="checkbox" value="Software" name="sector" class="dib h1 w-10 shadow-hover"> Software
        </label>
        <label for="" class="db gray">
          <input type="checkbox" value="Life Science" name="sector" class="dib h1 w-10 shadow-hover"> Life Sciences
        </label>
        <label for="" class="db gray">
          <input type="checkbox" value="E-Commerce" name="sector" class="dib h1 w-10 shadow-hover"> E-Commerce and Fintech
        </label>
        <label for="" class="db gray">
          <input type="checkbox" value="Education" name="sector" class="dib h1 w-10 shadow-hover"> Education and Knowledge Technologies
        </label>
        <label for="" class="db gray">
          <input type="checkbox" value="Cities" name="sector" class="dib w-10 h1 shadow-hover"> Smart & Safe Cities/Homes
        </label>
        <label for="" class="db gray">
          <input type="checkbox" value="Other" name="sector" class="dib w-10 h1 shadow-hover"> Other
        </label>
      </fieldset>

      <label for="funding-stage" class="db f3 ma3 text-granite-gray" id="funding-label">Funding Stage </label>

      <fieldset class="bn w-100 tracked" id="funding-fieldset">
        <label for="" class="db gray">
        <input type="checkbox" id="funding-stage" name="stage" value="Idea-Phase" class="dib w-10 h1 shadow-hover"> Idea Phase
        </label>
        <label for="" class="db gray">
          <input type="checkbox" id="funding-stage" name="stage" value="Prototype" class="dib w-10 h1 shadow-hover"> Prototype
        </label>
        <label for="" class="db gray">
          <input type="checkbox" id="funding-stage" name="stage" value="Seed-Funded" class="dib w-10 h1 shadow-hover"> Seed Funded
        </label>
        <label for="" class="db gray">
          <input type="checkbox" id="funding-stage" name="stage" value="Round-A" class="dib w-10 h1 shadow-hover"> Round A
        </label>
        <label for="" class="db gray">
          <input type="checkbox" id="funding-stage" name="stage" value="Bootstrap" class="dib w-10 h1 shadow-hover"> Bootstrap
        </label>

        <input type="submit" name="Submit" class="pa2 ph3 mv4 mh2 br2 ba bg-white">
      </fieldset>

    </form>
  </div>
  <div class=" w-two-thirds fl">
    <h1 class="f1 fw3 text-granite-gray">Startups</h1>

    {{#each startups}}
    <div class="dib mh1 tc">
      <a href="/startupProfile/{{_id}}" ><img src="{{this.logoUrl}}" alt="" class="h5 w5 ba br2"></a>
      <h3 class="text-granite-gray">{{this.startupName}}</h3>
    </div>
    {{/each}}
  </div>
</div>
<script type="text/javascript" src="/app.js"></script>
