{{> nav-bar}}

<div class="tc">
  <div class="bg-granite-gray tc center w-80">
    <h1 class="near-white mv0 f1">Arab innovators</h1>
    <p class="near-white f2">The home of Arab-led startups in Israel.</p>

    <form class="" action="/search" method="get">

      <fieldset class="b--transparent">
        <label for="search-input"></label>
        <input class="bg-dark-purple ba w-25 ph2 h2 white-60 input-reset" type="text" name="search" id="search-input" placeholder="Search Startups"><!--
      --><select class="bg-dark-purple  ba b--near-white h2 ph2 w-15 b white-60 overflow-hidden" id="select-sector" name="sector" >
          <option value="">any sector</option>
          <option value="Health">Health</option>
          <option value="IT">IT</option>
          <option value="Security">Security</option>
          <option value="Hardware">Hardware</option>
          <option value="Software">Software</option>
          <option value="Life Science">Life Sciences</option>
          <option value="E-Commerce">E-Commerce</option>
          <option value="Education">Education</option>
          <option value="Cities">Cities</option>
          <option value="Other">Other</option>
        </select><!--
      --><input class="bg-orange near-white br1 bn b h2" type="submit" value="search">
      </fieldset>
    </form>
  </div>

    <div class="tc"><!--
      --><img class="w-20 overflow-hidden" src="/assets/bonsai.jpg"><!--
      --><img class="w-20 overflow-hidden" src="/assets/comms.jpg"><!--  --><img class="w-20 overflow-hidden" src="/assets/cyber.jpg"><!--  --><img class="w-20 overflow-hidden" src="/assets/medequip.jpg">
    </div>

    <div class="">
      <h1 class="text-orange f2">Who Are We ?</h1>
      <span class="text-granite-gray lh-copy">We connect Investors with pioneering Enterprenurs. We believe that diversity is key to innovation. </span>
    </div>

    <div class="bg-granite-gray w-80 center pb1">
      <h1 class="text-orange f2 pv1">Why Are We ?</h1>
      <p class="near-white lh-copy">Israel is a startup nation. But its Arab community is severely under-represented in high tech. This is due to lack of dunding and visibility, as well as cultural stereoptypes.
      Fortunately, times are changing. There's a lot of talent to encourage out there.</p>
    </div>

    <!-- Submission form -->

    <div class=" w-80 center" id="submissionView">
      <form class="black-80 w-100 pv4 mt3 bg-dark-purple" action="/registerStartup" method="post">

      <fieldset class="b--transparent center bg-granite-gray mh4 br2 w-100">
        <div class="dib bg-granite-gray b--transparent pa3">
          <h1 class="white">Startup Application</h1>
          <label for="founder-name" class="f5 tl b db white mt2">Your full name* </label>
          <input type="text" name="founder-name" id="founder-name" class="input-reset bg-silver br2 ba b--black-20 pa2 mt2 db w-100" required>

          <label for="coFounder-name" class="f5 white tl b db mv3 pv2">  <img src="/assets/plus.png" alt="" id="plus-circle"> Co-Founder name </label>
          <input type="text" name="coFounder-name" class="input-reset bg-silver ba b--black-20 pa2 mb2 dn w-100 br2" id="coFounder-name">

          <label for="startup-name" class="f5 tl white b db mb2">Your startup's name* </label>
          <input type="text" name="startup-name" class="input-reset tl bg-silver ba b--black-20 pa2 mb2 db w-100 br2" id="startup-name" required>

          <label for="startup-website" class="f5 tl b db white">Startup website* </label>
          <input type="text" name="startup-website" class="input-reset bg-silver ba b--black-20 pa2 mb2 db w-100 mt2 br2" id="startup-website" required>

          <label for="startup-email" class="f5 tl b db mb2 white">Contact email* </label>
          <input type="email" name="startup-email" class="input-reset bg-silver ba b--black-20 pa2 mb2 db w-100 br2" id="startup-email" required>

        </div><!--
        --><div class="dib ph5 tl bg-granite-gray b--transparent">
          <label for="description" class="f5 b tl db mb2 white">Startup description (up tp 100 words)* </label>
          <textarea name="description" rows="12" cols="30" id="description" class="db border-box hover-black w-100 br2 br2 mb2 bg-silver bn"></textarea>

          <label for="select-sector" class="f5 b tl db white mb2">Sector* </label>
          <select id="select-sector" name="Select" class="mb2 pa2 w-100 bg-silver white br2 bn" required>
            <option value=""></option>
            <option value="Health">Health</option>
            <option value="IT">IT</option>
            <option value="Security">Security</option>
            <option value="Hardware">Hardware</option>
            <option value="Software">Software</option>
            <option value="Life Science">Life Sciences</option>
            <option value="E-Commerce">E-Commerce</option>
            <option value="Education">Education</option>
            <option value="Cities">Cities</option>
            <option value="Other">Other</option>
          </select>

          <label for="funding-stage" class="f5 b tl db mb2 white">Funding Stage* </label>
          <select id="funding-stage" name="funding-stage" class="mb2 pa2 w-100 bg-silver white br2 bn" required="">
            <option value=""></option>
            <option value="Idea-Phase">Idea Phase</option>
            <option value="Prototype">Prototype</option>
            <option value="Seed-Funded">Seed Funded</option>
            <option value="Round-A">Round A</option>
            <option value="Bootstrap">Bootstrap</option>
          </select>

          <input type="submit" name="submit" class="f6 br2 w-100 pv2 mb2 dib white bg-our-orange" value="Submit">
        </div>
      </fieldset>
      </form>
    </div>
    <script type="text/javascript" src="/form.js"></script>
</div>
