<div class="tc" id="submission-form">
  <div class="bg-granite-gray tc center w-100">
    <h1 class="near-white mv0 f1">Arab innovators</h1>
    <p class="near-white f2 mv3">The home of Arab-led startups in Israel.</p>

    <form class="" action="/search" method="get">

      <fieldset class="b--transparent">
        <label for="search-input"></label>
        <input class="bg-dark-purple ba w-30 ph3 h2 white-60 input-reset" type="text" name="search" id="search-input" placeholder="Search Startups"><!--
      --><select class="bg-dark-purple  ba b--near-white h2 ph2 w-15 b white-60 overflow-hidden" id="select-sector" name="sector" >
          <option value="">any sector</option>
          <option value="Health">Health</option>
          <option value="IT">IT</option>
          <option value="Security">Security</option>
          <option value="Hardware">Hardware</option>
          <option value="Software">Software</option>
          <option value="Life Science">Life Sciences</option>
          <option value="E-Commerce">E-Commerce</option>
          <option value="Education">Education</option>
          <option value="Cities">Cities</option>
          <option value="Other">Other</option>
        </select><!--
      --><input class="bg-orange near-white br1 bn b h2 w-10" type="submit" value="search">
      <div class="w-50 center tl">
        <p class="dib moon-gray mt1 w-60">Enter a keyword. And/or choose a sector</p><!--
        --><nav class="moon-gray tl w-100"> Popular searches:
          <a class="moon-gray" href="/search?search=&sector=Cities">Cities,</a>
          <a class="moon-gray" href="/search?search=&sector=E-Commerce">E-Commerce,</a>
          <a class="moon-gray" href="/search?search=&sector=Other">Other,</a>
          <a class="moon-gray" href="/search?search=&sector=Software">Software,</a>
          <a class="moon-gray" href="/search?search=&sector=Hardware">Hardware,</a>
          <a class="moon-gray" href="/search?search=&sector=Health">Health</a>
        </nav>
      </div>
      </fieldset>
    </form>
  </div>

    <div class="tc"><!--
      --><img class="w-20 overflow-hidden" src="/assets/bonsai.jpg"><!--
      --><img class="w-20 overflow-hidden" src="/assets/comms.jpg"><!--  --><img class="w-20 overflow-hidden" src="/assets/cyber.jpg"><!--  --><img class="w-20 overflow-hidden" src="/assets/medequip.jpg"><!--
      --><img class="w-20 overflow-hidden" src="/assets/VRgirl.jpg">
    </div>

    <div class="">
      <h1 class="text-orange w-70 pr4 i f2">Who Are We?</h1><!--
    --><span class="text-granite-gray ml3 lh-copy">We connect Investors with pioneering Entrepreneurs. We believe that diversity is key to innovation. </span>
    </div>

    <div class="bg-granite-gray w-100 pb1">
      <h1 class="text-orange f2 w-70 pr4 i pt1 pb0">Why Are We?</h1>
      <p class="near-white lh-copy mw7 dib pr4 ml6 mr4 mt0">
        Israel is a startup nation. But its Arab community is severely underrepresented in high tech. This is due to a lack of funding and visibility, as well as cultural stereoptypes. Fortunately, times are changing. There's a lot of talent to encourage out there.</p>
    </div>

    <!-- Submission form -->

    <div class=" w-100 center" id="apply">
      <form class="black-80 w-100 pv4 mt3" action="/registerStartup" method="post">

      <fieldset class="b--transparent center mh4 br2 w-100">
        <div class="dib b--transparent pa3">
          <h1 class="">Startup Application</h1>
          <label for="founder-name" class="f5 tl b db mt2">Your full name* </label>
          <input type="text" name="founder-name" id="founder-name" class="input-reset bg-light-gray br2 ba b--black-20 pa2 mt2 db w-100" required>

          <div id="co-founder">
            <label for="coFounder-name" class="f5 tl b db mv3 pv2 w-100">  <img src="/assets/plus.png" class="shadow-hover" id="plus-circle"> Co-Founder name </label>
          </div>

          <label for="startup-name" class="f5 tl fl b db mb2">Your startup's name* </label>
          <input type="text" name="startup-name" class="input-reset tl bg-light-gray ba b--black-20 pa2 mb2 db w-100 br2" id="startup-name" required>
          <label for="file-input" class="f5 tl black b db mb2">Startup's logo*
          <input type="file" id="file-input" class="input-reset tl ba b--black-20 pa2 mb2 db br2" required>
          </label>
          <input type="hidden" name="logo-url" id="logo-url">

          <label for="startup-website" class="f5 tl b db">Startup website* </label>
          <input type="text" name="startup-website" class="input-reset bg-light-gray ba b--black-20 pa2 mb2 db w-100 mt2 br2" id="startup-website" required>

          <label for="startup-email" class="f5 tl b db mb2">Contact email* </label>
          <input type="email" name="startup-email" class="input-reset bg-light-gray ba b--black-20 pa2 mb2 db w-100 br2" id="startup-email" required>

        </div><!--
        --><div class="dib ph5 tl b--transparent">
          <label for="description" class="f5 b tl db mb2">Startup description (up to 100 words)* </label>
          <textarea name="description" rows="12" cols="30" id="description" class="db border-box hover-black w-100 br2 br2 mb2 bg-light-gray"></textarea>

          <label for="select-sector" class="f5 b tl db mb2">Sector* </label>
          <select id="select-sector" name="Select" class="mb2 pa2 w-100 bg-light-gray br2" required>
            <option value=""></option>
            <option value="Health">Health</option>
            <option value="IT">IT</option>
            <option value="Security">Security</option>
            <option value="Hardware">Hardware</option>
            <option value="Software">Software</option>
            <option value="Life Science">Life Sciences</option>
            <option value="E-Commerce">E-Commerce</option>
            <option value="Education">Education</option>
            <option value="Cities">Cities</option>
            <option value="Other">Other</option>
          </select>

          <label for="funding-stage" class="f5 b tl db mb2">Funding Stage* </label>
          <select id="funding-stage" name="funding-stage" class="mb2 pa2 w-100 bg-light-gray br2" required="">
            <option value=""></option>
            <option value="Idea-Phase">Idea Phase</option>
            <option value="Prototype">Prototype</option>
            <option value="Seed-Funded">Seed Funded</option>
            <option value="Round-A">Round A</option>
            <option value="Bootstrap">Bootstrap</option>
          </select>

          <label for="signup-reason" class="f5 b tl db mb2">Reason for signing up* </label>
          <select id="signup-reason" name="signup-reason" class="mb2 pa2 w-100 bg-light-gray br2"  required="">
            <option value=""></option>
            <option value="Investment">Investment</option>
            <option value="Hire-someone">Hire someone</option>
            <option value="Find-client">Find clients</option>
            <option value="Other">Other</option>
          </select>
          <input type="text" name="other" id="other" class="input-reset bg-light-gray ba b--black-20 pa2 mb2 w-100 br2 dn" value="">
          <input type="submit" name="submit" class="f6 br2 w-100 pv2 mb2 dib white bg-our-orange" value="Submit">
        </div>
      </fieldset>
      </form>
    </div>
    <script type="text/javascript" src="/form.js"></script>
</div>
