<div class="searchContainer">
  <h1>Arab innovators</h1>
  <p>The home of Arab-led startups in Isreal.</p>

  <form class="" action="/search" method="get">

    <fieldset>
      <label for="search-input"></label>
      <input type="text" name="search" id="search-input">

      <select id="select-sector" name="Select">
        <option value="none">Any Sector</option>
        <option value="health">Health</option>
        <option value="it">IT</option>
        <option value="security">Security</option>
        <option value="hardware">Hardware</option>
        <option value="software">Software</option>
        <option value="lifeScience">Life Sciences</option>
        <option value="eCommerce">E-Commerce</option>
        <option value="education">Education</option>
        <option value="cities">Cities</option>
        <option value="other">Other</option>
      </select>

      <input type="submit">
    </fieldset>

  </form>
</div>
