<div class="">
  <h1>Submit your own startup!</h1>
</div>

<form class="" action="/registerStartup" method="post">

  <fieldset>
    <label for="startup-name">Name </label>
    <input type="text" name="startup-name" id="startup-name" required>
  </fieldset>

  <fieldset>
    <label for="founder-name">Founder name </label>
    <input type="text" name="founder-name" id="founder-name" required>
  </fieldset>

  <fieldset>
    <label for="description">Description </label>
    <input type="text" name="description" id="description" required>
  </fieldset>

  <fieldset>
    <label for="select-sector">Sector </label>
    <select id="select-sector" name="Select">
      <option value="Health">Health</option>
      <option value="IT">IT</option>
      <option value="Security">Security</option>
      <option value="Hardware">Hardware</option>
      <option value="Software">Software</option>
      <option value="Life Science">Life Sciences</option>
      <option value="E-Commerce">E-Commerce</option>
      <option value="Education">Education</option>
      <option value="Cities">Cities</option>
      <option value="other">Other</option>
    </select>
  </fieldset>


  <fieldset>
    <label for="funding-stage">Funding Stage </label>
    <select id="funding-stage" name="Select-stage">
      <option value="Idea-Phase">Idea Phase</option>
      <option value="Prototype">Prototype</option>
      <option value="Seed-Funded">Seed Funded</option>
      <option value="Round-A">Round A</option>
      <option value="Bootstrap">Bootstrap</option>
    </select>
  </fieldset>


  <fieldset>
    <label for="startup-email">Email </label>
    <input type="email" name="startup-email" id="startup-email" required>
  </fieldset>


  <fieldset>
    <label for="startup-website">Website </label>
    <input type="text" name="startup-website" id="startup-website" required>
  </fieldset>


  <input type="submit" name="submit" value="Submit">

</form>
