<div class="bg-dark-purple vh-100 w-100 pl7 pr6">
  <div class="dib bg-granite-gray w-80 br2-ns h5 mt5 f2 ">
    <span class="tr near-white ">
      Thank you!
    </span>
      <span class="ma1 mb0 dib near-white">
        We recieved your application.
      </span>
      <span class="ma1 mb0 dib near-white">
        You can expect to hear back from us within 2 weeks.
      </span>
    <a class="f5 b fr ma5 link dim br2 ph5 pv2 mb2 dib white bg-our-orange" href="/">
      Return Home
    </a>
  </div>
</div>
