<div class="bg-dark-purple vh-100 w-100 pl7 pr6">
  <div class="dib bg-gray w-80 h5 mt5 f2 ">
    <span class="dib ma0 h3 near-white ">
      Thank you!
    </span>
      <span class="dib ma0 near-white">
        We recieved your application.
      </span>
      <span class="dib ma0 near-white">
        You can expect to hear back from us within 2 weeks.
      </span>
    <a class="f6 fr ma5 link dim br2 ph3 pv2 mb2 dib white bg-our-orange" href="/">
      Return Home
    </a>
  </div>
</div>
