<div class="vh-100 dt w-100 bg-purple">
  <div class="bg-gray w-80 h5 mt5 ">
    <span class="">
      Thank you!
    </span>
      <span class="mh3">
        We recieved your application.
      </span>
      <span>
        You can expect to hear back from us within 2 weeks.
      </span>
    <a class="f6 link dim br2 ph3 pv2 mb2 dib white bg-orange" href="/">
      Return Home
    </a>
  </div>
</div>
