  <nav class="dt w-100 mw8 center">
    <div class="dtc w2 v-mid pa3">
        <a class="f1  b no-underline dark-gray mh3 " href="/">Ain</a>
    </div>
    <div class="dtc v-mid tr pa3">
      <a class="f4 fw4 hover-orange no-underline black pv2 ph3" href="#">about</a>
      <a class="f4 fw4 hover-orange no-underline black pv2 ph3" href="#">contact us</a>
      <a class="f4 fw4 hover-near-black text-orange pv2 ph3" href="#">startups</a>
    </div>
  </nav>
