<nav class="dt w-100 bg-navbar center" id="navbar">
  <div class="dtc w2 v-mid  ">
      <a class="f1  b no-underline dark-gray mh3" href="/">Ain</a>
  </div>
  <div class="dtc v-mid tr">
    <a class="f4 fw4 hover-orange no-underline black pv2 ph3" href="/">about</a>
    <a class="f4 fw4 hover-orange no-underline black pv2 ph3" href="#">news</a>
    <a class="f4 fw4 hover-orange no-underline black pv2 ph3" href="#">events</a>
    <a class="f4 fw4 hover-near-orange no-underline text-orange pv2 ph3" href="/#apply">join us</a>
    <a class="f4 fw4 hover-near-black no-underline black pv2 ph3" href="/search?search=&sector=">startups</a>
  </div>
</nav>
