<nav class="dt w-100 bg-navbar center" id="navbar">
  <div class="dtc v-mid">
      <a class="f1 dib b no-underline dark-gray mh3" href="/">Ain</a>
      <form class="dib v-top mv2" action="/search" method="get">
        <input type="text" name="search" placeholder="my search" class="br2 ba b--black bg-near-gray pa2 dib">
        <input type="submit" name="Submit" value="Search" class="pa2 ph3 br2 ba bg-white">
      </form>
  </div>
  <div class="dtc v-mid tr">
    <a class="f4 fw4 hover-orange no-underline black pv2 ph3" href="/">about</a>
    <a class="f4 fw4 hover-orange no-underline black pv2 ph3" href="/allNews">news</a>
    <a class="f4 fw4 hover-orange no-underline black pv2 ph3" href="/allEvents">events</a>
    <a class="f4 fw4 hover-near-orange no-underline text-orange pv2 ph3" href="/#apply">join us</a>
    <a class="f4 fw4 hover-near-black no-underline black pv2 ph3" href="/search?search=&sector=">startups</a>
  </div>
</nav>
