  <nav class="dt w-100">
    <div class="dtc w2 v-mid pa3">
        <a class="f2 fl b no-underline dark-gray mh3" href="/">Ain</a>
    </div>
    <div class="dtc v-mid tr">
      <a class="f4 fw4 hover-orange no-underline black mh4" href="#">about</a>
      <a class="f4 fw4 hover-orange no-underline black mh4" href="#">contact us</a>
      <a class="f4 fw4 hover-near-black no-underline text-orange mh4" href="#">startups</a>
    </div>
  </nav>
