<div id="sub-msg" class="bg-dark-purple vh-100 w-100 dn">
  <div class="bg-granite-gray pv4 ph2 w-78 ph3-l f2 b fixed mt6 mh6">
    <span class="pl4 dib near-white">
      Thank you! <br><br>
       We recieved your application. <br><br>
       You can expect to hear back from us within 2 weeks.
    </span>
    <a class="f5 b fr ma5 link dim br2 ph5 pv2 mb2 dib white bg-our-orange" href="/">
      Return Home
    </a>
  </div>
</div>
