<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css"/>
    <title>Arab Innovators</title>
  </head>
  <body>
    {{>navbar}}
    {{{body}}}
  </body>
</html>
{{> footer}}
